node-RED-flow.json
[{"id":"d66675e3.229168","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6cebb1f5.f6cb3","type":"http request","z":"d66675e3.229168","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ac8f17de-ac32-409c-9d5f-bacafa0c8e1b-bluemix.cloudant.com/door/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":140,"wires":[["fcf568a2.40b2d8","2811c422.752dac"]]},{"id":"fcf568a2.40b2d8","type":"debug","z":"d66675e3.229168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"fa9a3669.8cd8f8","type":"inject","z":"d66675e3.229168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["6cebb1f5.f6cb3"]]},{"id":"2811c422.752dac","type":"function","z":"d66675e3.229168","name":"getImage","func":"global.set(\"url\",msg.payload.rows[0].doc.link)\nreturn {payload:msg.payload.rows[0].doc.link}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["fcf568a2.40b2d8","a0fcf4a4.af1be8"]]},{"id":"a0fcf4a4.af1be8","type":"ui_template","z":"d66675e3.229168","group":"5692393b.447ce8","name":"","order":0,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"400\" width=\"300\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"e3ea294e.21bc58","type":"ui_button","z":"d66675e3.229168","name":"authorize","group":"5692393b.447ce8","order":1,"width":0,"height":0,"passthru":false,"label":"Authorize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"open\"}","payloadType":"json","topic":"","x":240,"y":440,"wires":[["199657d8.c77258","601406b9.b00778"]]},{"id":"7f357f43.ff896","type":"ui_button","z":"d66675e3.229168","name":"unauthorize","group":"5692393b.447ce8","order":2,"width":0,"height":0,"passthru":false,"label":"Unauthorize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"close\"}","payloadType":"json","topic":"","x":250,"y":540,"wires":[["199657d8.c77258","601406b9.b00778"]]},{"id":"199657d8.c77258","type":"debug","z":"d66675e3.229168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":460,"wires":[]},{"id":"601406b9.b00778","type":"ibmiot out","z":"d66675e3.229168","authentication":"apiKey","apiKey":"90501ada.891838","outputType":"cmd","deviceId":"1234","deviceType":"door","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":550,"y":560,"wires":[]},{"id":"389a0176.77c3be","type":"http in","z":"d66675e3.229168","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":620,"wires":[["7ac4f3e8.25f40c"]]},{"id":"97b63a2c.24ccb8","type":"http response","z":"d66675e3.229168","name":"","statusCode":"","headers":{},"x":550,"y":800,"wires":[]},{"id":"7ac4f3e8.25f40c","type":"function","z":"d66675e3.229168","name":"command","func":"msg.payload={\"command\":msg.payload.command}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":740,"wires":[["97b63a2c.24ccb8","601406b9.b00778","ce090a0f.7fae18"]]},{"id":"ce090a0f.7fae18","type":"debug","z":"d66675e3.229168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":680,"wires":[]},{"id":"dd4664e6.f97328","type":"http in","z":"d66675e3.229168","name":"","url":"/url","method":"get","upload":false,"swaggerDoc":"","x":140,"y":840,"wires":[["19e048e2.abdb87"]]},{"id":"19e048e2.abdb87","type":"function","z":"d66675e3.229168","name":"command","func":"msg.payload=global.get('url')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":980,"wires":[["bb3552ff.6b04","d3b6b6e2.f444b8"]]},{"id":"bb3552ff.6b04","type":"http response","z":"d66675e3.229168","name":"","statusCode":"","headers":{},"x":490,"y":1040,"wires":[]},{"id":"d3b6b6e2.f444b8","type":"debug","z":"d66675e3.229168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":920,"wires":[]},{"id":"5692393b.447ce8","type":"ui_group","z":"","name":"Default","tab":"e6cc0407.2841e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"90501ada.891838","type":"ibmiot","z":"","name":"door","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"e6cc0407.2841e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]